div.elements {
  margin: 0;
  box-sizing: border-box;
  background-color: #47baa4;
  scrollbar-color: #338c7b #47baa4;
  padding: 0.5em 0.5em;
  height: 100vh;
  width: 17.5em;
  min-width: 10.5em;
  overflow-y: scroll;
  display:flex;
  flex-direction: column;

  user-select: none;
}
div.elements::-webkit-scrollbar       { width: 0.5em; }
div.elements::-webkit-scrollbar-track { background-color: #47baa4; }
div.elements::-webkit-scrollbar-thumb { background-color: #338c7b; }


div.elements div.group {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.elements div.group > img[data-type] {
  height: 4em;
  width: auto;
  padding: 0em 0.2em;

  cursor: move;
}
div.elements div.group > img[id] {
  height: 4em;
  width: auto;
  padding: 0em 0.2em;

  cursor: pointer;
}

div.program {
  margin: 0;
  box-sizing: border-box;
  padding: 0.5em 0.5em;

  // background-image: url("../assets/start_back.svg");
  // background-repeat: no-repeat;
  // background-size: auto 7.7em;
  // background-origin: content-box;

  height: 100vh;

  background-color: #72d4c8;
  scrollbar-color: #338c7b #72d4c8;
  overflow-y: scroll;
  overflow-x: visible;

  display:flex;
  flex-direction: column;
  align-items: flex-start;

  user-select: none;
}
div.program::-webkit-scrollbar       { width: 0.5em; }
div.program::-webkit-scrollbar-track { background-color: #72d4c8; }
div.program::-webkit-scrollbar-thumb { background-color: #338c7b; }

div.program svg g[element-group=drop] g[element-type=add] path {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-opacity: 0;
  fill-opacity: 0;
}
div.program svg g[element-group=drop] g[element-type=add].active path {
  animation: pulse 1s infinite;
}
div.program svg g[element-group=drop] g[element-type=delete] path {
  fill: #b6e5e0;
  stroke: #ffffff;
  stroke-opacity: 0;
  fill-opacity: 0;
  cursor: pointer;
}
div.program svg g[element-group=drop] g[element-type=delete].active path {
  animation: pulse 1s infinite;
}
div.program svg g[element-group=drop] g[element-type=here] path {
  display: none;
  fill: #b6e5e0;
  stroke: #ffffff;
  stroke-opacity: 0;
  fill-opacity: 0;
  cursor: pointer;
}
div.program svg g[element-group=drop] g[element-type=here].active path {
  display: inline;
  stroke-opacity: 1.00;
  fill-opacity: 1.00;
}

div.program svg g[element-group=graph] g[element-type] {
  cursor: pointer;
}

@keyframes pulse {
   0%  { stroke-opacity: 0.00; fill-opacity: 0.00; }

  10%  { stroke-opacity: 0.20; fill-opacity: 0.20; }
  20%  { stroke-opacity: 0.40; fill-opacity: 0.40; }
  30%  { stroke-opacity: 0.60; fill-opacity: 0.60; }
  40%  { stroke-opacity: 0.80; fill-opacity: 0.80; }

  50%  { stroke-opacity: 1.00; fill-opacity: 1.00; }

  60%  { stroke-opacity: 0.80; fill-opacity: 0.80; }
  70%  { stroke-opacity: 0.60; fill-opacity: 0.60; }
  80%  { stroke-opacity: 0.40; fill-opacity: 0.40; }
  90%  { stroke-opacity: 0.20; fill-opacity: 0.20; }

  100% { stroke-opacity: 0.00; fill-opacity: 0.00; }
}

div.program svg g[element-group=graph] g[element-type=jump] .cutout {
  display: none;
}
div.program svg g[element-group=graph] g[element-type=jump].active .cutout {
  display: inline;
  stroke: red!important;
}
div.program svg g[element-group=graph] g[element-type=jump].targeting .cutout {
  display: inline;
}

div.program svg g[element-group=drag] div {
  cursor: pointer;
}
div.program svg g[element-group=drag].inactive  {
  # we have to only do this because chrome is incompetent again. in firefox a simple display: none would suffice.
  transition: transform 0.01s;
  transform: translateX(-9999px);
}


button.save {
  margin-left: 3em;
}
