body {
  padding: 0;
  margin: 0;
}

div.editor {
  display:flex;
  flex-direction: row;
}

div.elements {
  margin: 0;
  box-sizing: border-box;
  background-color: #47baa4;
  scrollbar-color: #338c7b #47baa4;
  padding: 0.5em 0.5em;
  height: 100vh;
  width: 14.9em;
  min-width: 13.5em;
  overflow-y: scroll;
  display:flex;
  flex-direction: column;

  user-select: none;
}
div.elements::-webkit-scrollbar       { width: 0.5em; }
div.elements::-webkit-scrollbar-track { background-color: #47baa4; }
div.elements::-webkit-scrollbar-thumb { background-color: #338c7b; }


div.elements div.group {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.elements div.group img {
  height: 4em;
  padding: 0em 0.2em;

  cursor: move;
}

div.program {
  margin: 0;
  box-sizing: border-box;
  padding: 0.5em 0.5em;

  background-image: url("../assets/start_back.svg");
  background-repeat: no-repeat;
  background-size: auto 7.7em;
  background-origin: content-box;

  height: 100vh;

  background-color: #72d4c8;
  scrollbar-color: #338c7b #72d4c8;
  overflow-y: scroll;
  overflow-x: visible;

  display:flex;
  flex-direction: column;
  align-items: flex-start;

  user-select: none;
}
div.program::-webkit-scrollbar       { width: 0.5em; }
div.program::-webkit-scrollbar-track { background-color: #72d4c8; }
div.program::-webkit-scrollbar-thumb { background-color: #338c7b; }
div.program img {
  height: 4em;

  pointer-events: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
div.program svg {
  margin-top: -0.3em;
}

div.field {
  flex: 1 1 auto;
  background-color: #98eae0;
}
