div.field {
  position: relative;

  flex: 1 1 auto;
  background-color: #98eae0;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

div.field svg {
  flex: 1 1 auto;
  width: 90%;
  height: auto;
  max-height: 90%;
  display: block;
  margin: auto;
}

div.field svg g.tile.active .tilebase path {
  stroke: red!important;
  stroke-width: 3!important;
}

div.field > div.bottom {
  height: 6em;
  min-height: 6em;
  box-sizing: border-box;
  padding: 0.5em 0em;
  background-color: #72d4c8;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

div.field > div.bottom > .ui {
  width: 5em;
  border: 0em none;
  height: 5em;
  margin-right: 1em;
  background-color: #47baa4;
}

div.field > div.bottom > .blank {
  flex: 1 1 auto;
}

div.field > div.bottom > button.ui {
  padding: 0;
  padding-top: 0.2em;
  border-radius: 0.2em;
  transition: all 0.1s;
  border-bottom: 0.5em solid #222222;
  cursor: pointer;
}
div.field > div.bottom > button.ui:active {
  transform: scaleX(0.9) translateY(0.5em);
}
div.field > div.bottom > button.ui > img {
  height: 80%;
}
div.field > div.bottom > div.hand {
  background-image: url("../assets/hand.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
div.field > div.bottom > div.brain {
  background-image: url("../assets/brain.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  position: relative;
}

div.field > div.bottom > div.hand img {
  height: 80%;
}
div.field > div.bottom > div.brain .type {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
}
div.field > div.bottom > div.brain .text {
  padding-top: 1.7em;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  line-height: 1.0em;
}

div.field > div.bottom > button.ui.control        img:first-child { display: inline; }
div.field > div.bottom > button.ui.control        img:last-child  { display: none; }
div.field > div.bottom > button.ui.control.active img:first-child { display: none; }
div.field > div.bottom > button.ui.control.active img:last-child  { display: inline; }

div.field > div.mission, div.field > div.victory  {
  display: none;
}

div.field > div.mission.active, div.field > div.victory.active {
  position: absolute;
  left: 3em;
  top: 3em;
  right: 3em;
  bottom: 9em;
  display: block;
  background-color: white;
  border: 0.5em solid #222222;
  padding: 1em;
}
div.field > div.mission > .top, div.field > div.victory > .top {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
div.field > div.mission > .top .order, div.field > div.victory > .top .hurra {
  font-weight: bold;
  font-size: 2em;
}
div.field > div.mission > .top .close, div.field > div.victory > .top .close {
  flex: 1 1 auto;
  text-align: right;
}
div.field > div.mission > .top .close img, div.field > div.victory > .top .close img {
  height: 2em;
  cursor: pointer;
}
div.field > div.mission > .top .text, div.field > div.victory > .top .text {
  font-size: 2em;
}

