body, html {
  height: 100%;
}

@media (pointer: coarse) and (max-width: 500px),
       (pointer: coarse) and (max-height: 500px) {
  html { font-size: 2.7svmin; }
}

* {
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

#drag {
  position: fixed;
  z-index: 2000;
  display: none;
  pointer-events: none;
}
#drag.visible {
  display: inline;
}
