body {
  font-family: sans-serif;
  font-size: 1em;
  margin: 1em;
}
input, button {
  font: inherit;
}
.content {
  max-width: 50em;
  margin: auto;
}
.content > img {
  width: 100%;
  height: auto;
}
.inline {
  vertical-align: bottom;
  height: 1.6em;
}
.language {
  position: absolute;
  top: 0;
  right: 0.5em;
}
